<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title></title>
</head>
<body>
  <h1>{{pageTitle}}</h1>
  <h3>{{welcomeMessage}}</h3>
  <footer>
    <p>Copyright {{currentYear}}</p>
  </footer>
</body>
</html>